# Emacs backup files.
*~

# Build process output files.
/build/
/out/

# NPM packages.
/node_modules/

# Anything containing .DS_Store
.DS_Store

# Secrets files
config/gcp-*-key.json
config/env.identity
config/env.content
config/env.adminfe
config/env.identity.test
config/env.content.test
config/env.adminfe.test
