.admin-panel() {
    width: 680px;
    display: flex;
    flex-direction: column;

    @media all and (max-width: 800px) {
        width: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .fill-out-details {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        line-height: 3rem;
        background-color: #efefef;
    }

    .action-buttons {
        display: flex;
        flex-direction: row;
    }

    .admin-section {
        margin-bottom: 1rem;

        .admin-title {
            line-height: 2rem;
        }
    }

    .admin-form {
        .admin-form-group {
            display: flex;
            flex-direction: column;

            &.horz {
                flex-direction: row;
            }

            .admin-form-label {
                line-height: 1rem;
                font-size: 0.75rem;

                .admin-form-error {
                    margin-left: 0.5rem;
                    color: #fe0000;
                }
            }

            .admin-form-input {
                line-height: 2rem;
                height: 2rem;
                padding: 0.5rem;
                flex-grow: 1; // Not always used

                &.admin-form-error {
                    background-color: rgba(255, 0, 0, 0.05);
                    border-color: rgba(255, 0, 0, 0.1);
                }
            }
        }
    }
}
