.sign-up {
    height: 2rem;
    line-height: 2rem;
    width: 80px;
    margin: 1rem;
    padding: 0rem;
    font-family: sans-serif;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-width: 1px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
    text-transform: none;
    text-align: center;
}

.menu-icon {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 1.125rem;
    height: 1.125rem;
    margin-right: 0.25rem;
    position: relative;
    top: 0.125rem;

    &.main {
        background-image: url('./static/main-icon.svg');
    }

    &.event {
        background-image: url('./static/event-icon.svg');
    }

    &.site {
        background-image: url('./static/site-icon.svg');
    }

    &.account {
        background-image: url('./static/account-icon.svg');
    }

    &.open-in-new-tab {
        background-image: url('./static/open-in-new-tab-icon.svg');
    }
}
