.powered-by-google {
    display: inline-block;
    width: 100%;
    margin-top: 0.5rem;
    height: 1rem;
    background-image: url('./static/powered-by-google.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.subevent-editor {

    .have-event {
        height: 1.5rem;
        line-height: 1.5rem;
        margin-bottom: 0.5rem;
        margin-right: 0.5rem;
    }

    .address {
        .label-text {
            line-height: 1rem;
            font-size: 0.75rem;
        }

        .address-root {
            position: relative;
            padding-bottom: 0px;
        }

        .address-input {
            display: inline-block;
            width: 100%;
            line-height: 2rem;
            height: 2rem;
            padding: 0.5rem;
        }

        .address-container {
            position: absolute;
            top: 100%;
            background-color: white;
            border: 1px solid #555555;
            width: 100%;
            z-index: 1000;
        }

        .address-item {
            background-color: white;
            line-height: 2rem;
            height: 2rem;
            padding: 0.5rem;
            color: #555555;
            cursor: pointer;

            .suggestion {
                .main {
                    margin-right: 0.5rem;
                }

                .secondary {

                }
            }
        }

        .address-item-active {
            background-color: #fafafa;
        }

        margin-bottom: 0.5rem;
    }

    .block-pointer-events {
        @media all and (max-width: 800px) {
            pointer-events: none;
        }
    }

    .maximize-on-small-screen.rdtOpen {
        @media all and (max-width: 800px) {
            width: 100%;
            height: 100vh;
            left: 0rem;
            top: 0rem;
            position: fixed;
            z-index: 10000;
            background-color: #ffffff;

            .admin-form-input {
                width: 100%;
            }

            .rdtPicker {
                pointer-events: auto; // always force this
                width: 100%;
                height: 100vh;
            }
        }
    }
}
